<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>CREATE NEW USER</h1>
        <% if(errors){ %>
            <p class="text-danger">
                <%= errors %>
            </p>
        <% } %>
        <form action="/product/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="<%= data ? data.name : '' %>" />
                <span class="text-danger"><%= errors ? errors.name : '' %></span>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" class="form-control" value="<%= data ? data.price : '' %>" />
                <span class="text-danger"><%= errors ? errors.price : '' %></span>
            </div>
            <div class="form-group">
                <label for="password">Image</label>
                <input type="file" name="image" class="form-control" value="<%= data ? data.image : '' %>" />
                <span class="text-danger"><%= errors ? errors.image : '' %></span>
            </div>
            <button type="submit" class="btn btn-info">Create</button>
        </form>
    </div>
</body>
</html>
