@model IEnumerable<ExaminationWDA.Models.TbEmployee>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to XYZ Company</h1>

<form asp-action="Search">
    Skills: <input name="skill" /> <input type="submit" value="Search" />
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Skills)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    <img src="~/images/@item.Photo width="100px" />
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
