@page
@model Homework2.Views.People.MenuModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TbPerson[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbPerson[0].Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TbPerson[0].Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TbPerson) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Username">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Username">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
